body, ul{
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background: #eee;
    min-height: 44px;
}

nav li{
    float: left;

    /* 拿掉 li 前礙眼的小黑點*/
    list-style: none;
    padding: 10px 14px;
    margin: 3px 0 0 0;
    cursor: pointer;
}

nav li:hover{
    background: blue;
}

nav li:hover a{
    color: white;
}

nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #666;
}

.topnav-right{
    float: right;
}

.dropdown-icon{
    display: none;
}



/* mobile */

@media screen and (max-width: 768px) {
    nav .topnav{
        width: 100%;
        float: left !important;
        background: #eee;
        margin: 0;
    }

    nav li:not(:nth-child(1)){
        display: none;
    }
    .dropdown-icon{
        display: block !important;
        position: absolute;
        right: 0;
        top: 0;
    }

    .show-all li{
        display: block !important;
    }
}